In [1]:
import pandas as pd
import nfl_data_py as nfl 
import os

In [2]:
# Import draft pics from 2000-2023

draft_df = pd.read_csv('Resources/draft_2000-2023.csv')
draft_df.head()

,draft_year,rnd,pick,tm,player,pos,g,search_key,id,year_signed,signing_tm,value,value_norm,gtd,gtd_norm
0,2000,1.0,1.0,CLE,Courtney Brown,DE,61.0,"Courtney Brown, DE",0,2000.0,Browns,44939436.0,0.722824,10880250.0,0.175002
1,2000,1.0,1.0,CLE,Courtney Brown,DE,61.0,"Courtney Brown, DE",0,2004.0,Browns,14700000.0,0.182423,2000000.0,0.024819
2,2000,1.0,1.0,CLE,Courtney Brown,DE,61.0,"Courtney Brown, DE",0,2003.0,Browns,20500000.0,0.273308,1000000.0,0.013332
3,2000,1.0,1.0,CLE,Courtney Brown,DE,61.0,"Courtney Brown, DE",0,2005.0,Broncos,18800000.0,0.219883,1260000.0,0.014737
4,2000,1.0,1.0,CLE,Courtney Brown,DE,61.0,"Courtney Brown, DE",0,2006.0,Broncos,5400000.0,0.052941,1055000.0,0.010343

In [3]:
# Condense the drafts to 2016-2019 and keeping only the first round picks

draft_16_19= draft_df[(draft_df['draft_year'] >= 2016) & 
                                   (draft_df['draft_year'] <= 2019) & 
                                   (draft_df['rnd'].isin([1.0, 2.0]))].reset_index(drop=True)

In [4]:
# Drop columns
columns_to_drop = ['search_key', 'id', 'g', 'value_norm', 'gtd_norm']
draft_16_19.drop(columns=columns_to_drop, inplace=True)

rename_columns = {
    'player': 'player_name',
    'tm': 'team',
    'signing_tm': 'signing_team',
    'g': 'games',
    'value': 'contract_amount',
    'gtd': 'guarantee_amount',

}

draft_16_19.rename(columns= rename_columns, inplace=True)

# Created a dictionary 

nfl_team_names = {
    'Cardinals': 'ARI',
    'Falcons': 'ATL',
    'Ravens': 'BAL',
    'Bills': 'BUF',
    'Panthers': 'CAR',
    'Bears': 'CHI',
    'Bengals': 'CIN',
    'Browns': 'CLE',
    'Cowboys': 'DAL',
    'Broncos': 'DEN',
    'Lions': 'DET',
    'Packers': 'GB',
    'Texans': 'HOU',
    'Colts': 'IND',
    'Jaguars': 'JAX',
    'Chiefs': 'KC',
    'Raiders': 'LV',
    'Chargers': 'LAC',
    'Rams': 'LAR',
    'Dolphins': 'MIA',
    'Vikings': 'MIN',
    'Patriots': 'NE',
    'Saints': 'NO',
    'Giants': 'NYG',
    'Jets': 'NYJ',
    'Eagles': 'PHI',
    'Steelers': 'PIT',
    '49ers': 'SF',
    'Seahawks': 'SEA',
    'Buccaneers': 'TB',
    'Titans': 'TEN',
    'Commanders': 'WAS'
}

draft_16_19['signing_team'] = draft_16_19['signing_team'].map(nfl_team_names).fillna(draft_16_19['signing_team'])

# Get rid of unneecessary decimals

draft_16_19['rnd'] = draft_16_19['rnd'].astype(int)
draft_16_19['pick'] = draft_16_19['pick'].astype(int)
draft_16_19['year_signed'] = draft_16_19['year_signed'].astype(int)

# Display data frame
draft_16_19.head(10)

,draft_year,rnd,pick,team,player_name,pos,year_signed,signing_team,contract_amount,guarantee_amount
0,2016,1,1,LAR,Jared Goff,QB,2019,DET/LAR,134000000.0,110042682.0
1,2016,1,1,LAR,Jared Goff,QB,2016,LAR,27937672.0,27937672.0
2,2016,1,2,PHI,Carson Wentz,QB,2019,IND/PHI/WAS,128000000.0,107870683.0
3,2016,1,2,PHI,Carson Wentz,QB,2016,PHI,26676338.0,26676338.0
4,2016,1,3,SDG,Joey Bosa,DE,2020,LAC,135000000.0,102000000.0
5,2016,1,3,SDG,Joey Bosa,DE,2016,LAC,25873672.0,25873672.0
6,2016,1,4,DAL,Ezekiel Elliott,RB,2019,DAL,90000000.0,50052137.0
7,2016,1,4,DAL,Ezekiel Elliott,RB,2016,DAL,24956338.0,24956338.0
8,2016,1,4,DAL,Ezekiel Elliott,RB,2023,NE,3000000.0,1100000.0
9,2016,1,5,JAX,Jalen Ramsey,CB,2020,MIA/LAR,100000000.0,71203000.0

In [5]:
# Import data from 'nfl_data_py' library

import_data = nfl.import_draft_picks(range(2016, 2020))
nfl_import = pd.DataFrame(import_data)

# Save it as a new csv file
csv_path = os.path.join('Resources', 'from_nfl_data.csv')
nfl_import.to_csv(csv_path, index=False)

In [6]:
# Read the "from_nfl_data" file

library_draft = pd.read_csv('Resources/from_nfl_data.csv')
library_draft.fillna(0, inplace=True)

In [7]:
columns_to_keep = ['pfr_player_name', 'college', \
                   'age', 'allpro', 'seasons_started', 'games', 'pass_yards', \
                    'pass_tds', 'rush_yards', 'rush_tds', 'receptions', 'rec_yards', 'def_ints', \
                        'def_sacks']

players_stats = library_draft[columns_to_keep]

In [8]:
# Rename Columns

rename_columns = {
    'pfr_player_name': 'player_name',
    'category': 'position'
}

players_stats.rename(columns= rename_columns, inplace=True)

# Get rid of unnecessary decimals

players_stats['age'] = players_stats['age'].astype(int)
players_stats['games'] = players_stats['games'].astype(int)

# Display data frame

players_stats.head()

/var/folders/sn/wbw1h1x1453cs98dqd5z86h80000gn/T/ipykernel_42970/517581330.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players_stats.rename(columns= rename_columns, inplace=True)
/var/folders/sn/wbw1h1x1453cs98dqd5z86h80000gn/T/ipykernel_42970/517581330.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players_stats['age'] = players_stats['age'].astype(int)
/var/folders/sn/wbw1h1x1453cs98dqd5z86h80000gn/T/ipykernel_42970/517581330.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players_stats['games'] = players_stats['games'].astype(int)

,player_name,college,age,allpro,seasons_started,games,pass_yards,pass_tds,rush_yards,rush_tds,receptions,rec_yards,def_ints,def_sacks
0,Jared Goff,California,21,0,6,117,30429.0,185.0,495.0,12.0,1.0,5.0,0.0,0.0
1,Carson Wentz,North Dakota St.,23,0,6,95,22292.0,153.0,1418.0,11.0,2.0,11.0,0.0,0.0
2,Joey Bosa,Ohio St.,21,0,6,93,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0
3,Ezekiel Elliott,Ohio St.,21,1,7,120,4.0,0.0,8904.0,71.0,356.0,2649.0,0.0,0.0
4,Jalen Ramsey,Florida St.,21,3,7,118,0.0,0.0,0.0,0.0,0.0,0.0,22.0,2.0

In [9]:
merged_nfl_df = pd.merge(draft_16_19, players_stats, how='left', on='player_name')
merged_nfl_df.head()

,draft_year,rnd,pick,team,player_name,pos,year_signed,signing_team,contract_amount,guarantee_amount,...,seasons_started,games,pass_yards,pass_tds,rush_yards,rush_tds,receptions,rec_yards,def_ints,def_sacks
0,2016,1,1,LAR,Jared Goff,QB,2019,DET/LAR,134000000.0,110042682.0,...,6,117,30429.0,185.0,495.0,12.0,1.0,5.0,0.0,0.0
1,2016,1,1,LAR,Jared Goff,QB,2016,LAR,27937672.0,27937672.0,...,6,117,30429.0,185.0,495.0,12.0,1.0,5.0,0.0,0.0
2,2016,1,2,PHI,Carson Wentz,QB,2019,IND/PHI/WAS,128000000.0,107870683.0,...,6,95,22292.0,153.0,1418.0,11.0,2.0,11.0,0.0,0.0
3,2016,1,2,PHI,Carson Wentz,QB,2016,PHI,26676338.0,26676338.0,...,6,95,22292.0,153.0,1418.0,11.0,2.0,11.0,0.0,0.0
4,2016,1,3,SDG,Joey Bosa,DE,2020,LAC,135000000.0,102000000.0,...,6,93,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0

In [26]:
#Plot (Bar Chart?) - Players Drafted getting second contract
multiple_teams_df = merged_nfl_df[ (merged_nfl_df['year_signed'] != merged_nfl_df['draft_year'])]
multiple_teams_df

,draft_year,rnd,pick,team,player_name,pos,year_signed,signing_team,contract_amount,guarantee_amount,...,seasons_started,games,pass_yards,pass_tds,rush_yards,rush_tds,receptions,rec_yards,def_ints,def_sacks
0,2016,1,1,LAR,Jared Goff,QB,2019,DET/LAR,134000000.0,110042682.0,...,6,117,30429.0,185.0,495.0,12.0,1.0,5.0,0.0,0.0
2,2016,1,2,PHI,Carson Wentz,QB,2019,IND/PHI/WAS,128000000.0,107870683.0,...,6,95,22292.0,153.0,1418.0,11.0,2.0,11.0,0.0,0.0
4,2016,1,3,SDG,Joey Bosa,DE,2020,LAC,135000000.0,102000000.0,...,6,93,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0
6,2016,1,4,DAL,Ezekiel Elliott,RB,2019,DAL,90000000.0,50052137.0,...,7,120,4.0,0.0,8904.0,71.0,356.0,2649.0,0.0,0.0
8,2016,1,4,DAL,Ezekiel Elliott,RB,2023,NE,3000000.0,1100000.0,...,7,120,4.0,0.0,8904.0,71.0,356.0,2649.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,2019,2,62,ARI,Andy Isabella,WR,2022,BAL,358200.0,0.0,...,0,43,0.0,0.0,10.0,0.0,33.0,447.0,0.0,0.0
746,2019,2,62,ARI,Andy Isabella,WR,2022,BAL,358200.0,0.0,...,0,43,0.0,0.0,10.0,0.0,33.0,447.0,0.0,0.0
747,2019,2,62,ARI,Andy Isabella,WR,2022,BAL,358200.0,0.0,...,0,43,0.0,0.0,10.0,0.0,33.0,447.0,0.0,0.0
748,2019,2,63,KAN,Juan Thornhill,S,2023,CLE,21000000.0,14000000.0,...,4,76,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0
750,2019,2,64,SEA,D.K. Metcalf,WR,2022,SEA,72000000.0,58220000.0,...,4,82,0.0,0.0,17.0,0.0,372.0,5332.0,0.0,0.0

In [32]:
def has_second_contract(row):
    return row['year_signed'] != row['draft_year'] and row['team'] in row['signing_team']

# Apply the function and create the 'second_contract' column
merged_nfl_df['second_contract'] = merged_nfl_df.apply(has_second_contract, axis=1)

# Remove duplicate players, keeping only the first occurrence
merged_nfl_df_unique = merged_nfl_df.drop_duplicates(subset='player_name')
merged_nfl_df_unique

,draft_year,rnd,pick,team,player_name,pos,year_signed,signing_team,contract_amount,guarantee_amount,...,games,pass_yards,pass_tds,rush_yards,rush_tds,receptions,rec_yards,def_ints,def_sacks,second_contract
0,2016,1,1,LAR,Jared Goff,QB,2019,DET/LAR,134000000.0,110042682.0,...,117,30429.0,185.0,495.0,12.0,1.0,5.0,0.0,0.0,True
2,2016,1,2,PHI,Carson Wentz,QB,2019,IND/PHI/WAS,128000000.0,107870683.0,...,95,22292.0,153.0,1418.0,11.0,2.0,11.0,0.0,0.0,True
4,2016,1,3,SDG,Joey Bosa,DE,2020,LAC,135000000.0,102000000.0,...,93,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,False
6,2016,1,4,DAL,Ezekiel Elliott,RB,2019,DAL,90000000.0,50052137.0,...,120,4.0,0.0,8904.0,71.0,356.0,2649.0,0.0,0.0,True
9,2016,1,5,JAX,Jalen Ramsey,CB,2020,MIA/LAR,100000000.0,71203000.0,...,118,0.0,0.0,0.0,0.0,0.0,0.0,22.0,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2019,2,60,LAC,Nasir Adderley,S,2019,LAC,4732112.0,2666632.0,...,50,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.5,False
740,2019,2,61,LAR,Taylor Rapp,S,2023,BUF,1770000.0,1650000.0,...,73,0.0,0.0,0.0,0.0,0.0,0.0,10.0,2.0,False
742,2019,2,62,ARI,Andy Isabella,WR,2019,ARI,4629870.0,2324926.0,...,43,0.0,0.0,10.0,0.0,33.0,447.0,0.0,0.0,False
748,2019,2,63,KAN,Juan Thornhill,S,2023,CLE,21000000.0,14000000.0,...,76,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0,False
750,2019,2,64,SEA,D.K. Metcalf,WR,2022,SEA,72000000.0,58220000.0,...,82,0.0,0.0,17.0,0.0,372.0,5332.0,0.0,0.0,True

KeyError: 'signing_team'